.App {
  text-align: center;
  background-color: #f8f9fa;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.opis-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.opis-button:hover {
  background-color: #0056b3;
}

.chart-wide {
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-content: left;
}

.wrapper > * {
  flex: 1;
}
